In [1]:
import pandas as pd
from datetime import datetime
import pytz

In [2]:
def tz_to_texas(tp_time,  fmt="%Y-%m-%d %H:%M:%S"):
    tz_tp = pytz.timezone('Asia/Taipei')
    tz_texas = pytz.timezone('America/Chicago')
    
    # Parse Taipei time
    taipei_time = datetime.strptime(tp_time, fmt)
    taipei_time = tz_tp.localize(taipei_time)
    
    # Convert to Texas time
    texas_time = taipei_time.astimezone(tz_texas)
    
    return texas_time.strftime(fmt)

In [8]:
tz_to_texas("2025-02-15 20:55:00")

'2025-02-15 06:55:00'

In [3]:
# Example usage:
taipei_times = [
    "2025-02-16 22:00:00", 
    "2025-02-16 23:00:00", 
    "2025-02-17 01:00:00",
    "2025-02-17 10:00:00",
    "2025-02-17 12:00:00",

]

# Convert and print results
for taipei_time in taipei_times:
    texas_time = tz_to_texas(taipei_time)
    print(f"Taipei Time: {taipei_time} -> Texas Time: {texas_time}")

Taipei Time: 2025-02-16 22:00:00 -> Texas Time: 2025-02-16 08:00:00
Taipei Time: 2025-02-16 23:00:00 -> Texas Time: 2025-02-16 09:00:00
Taipei Time: 2025-02-17 01:00:00 -> Texas Time: 2025-02-16 11:00:00
Taipei Time: 2025-02-17 10:00:00 -> Texas Time: 2025-02-16 20:00:00
Taipei Time: 2025-02-17 12:00:00 -> Texas Time: 2025-02-16 22:00:00

In [9]:
tp_times = [
    ("2025-02-17 10:00:00", "2025-02-17 12:00:00"),
    ("2025-02-22 10:00:00", "2025-02-22 13:00:00"),
    ("2025-02-23 22:00:00", "2025-02-24 00:00:00"),
]

for (time1, time2) in tp_times:
    texas_1 = tz_to_texas(time1)
    texas_2 = tz_to_texas(time2)
    
    print(
        f"""
        Taipei: {time1} ~ {time2}
        equals to
        Texas: {texas_1} ~ {texas_2}
        """
    )

        Taipei: 2025-02-17 10:00:00 ~ 2025-02-17 12:00:00
        equals to
        Texas: 2025-02-16 20:00:00 ~ 2025-02-16 22:00:00


        Taipei: 2025-02-22 10:00:00 ~ 2025-02-22 13:00:00
        equals to
        Texas: 2025-02-21 20:00:00 ~ 2025-02-21 23:00:00


        Taipei: 2025-02-23 22:00:00 ~ 2025-02-24 00:00:00
        equals to
        Texas: 2025-02-23 08:00:00 ~ 2025-02-23 10:00:00

In [10]:
tp_times = [
    ("2025-03-01 22:00:00", "2025-03-02 00:00:00"),
    ("2025-03-02 08:00:00", "2025-03-02 13:00:00"),
    ("2025-03-02 22:00:00", "2025-03-03 00:00:00")
    
]

for (time1, time2) in tp_times:
    texas_1 = tz_to_texas(time1)
    texas_2 = tz_to_texas(time2)
    
    print(
        f"""
        Taipei: {time1} ~ {time2}
        equals to
        Texas: {texas_1} ~ {texas_2}
        """
    )

        Taipei: 2025-03-01 22:00:00 ~ 2025-03-02 00:00:00
        equals to
        Texas: 2025-03-01 08:00:00 ~ 2025-03-01 10:00:00


        Taipei: 2025-03-02 08:00:00 ~ 2025-03-02 13:00:00
        equals to
        Texas: 2025-03-01 18:00:00 ~ 2025-03-01 23:00:00


        Taipei: 2025-03-02 22:00:00 ~ 2025-03-03 00:00:00
        equals to
        Texas: 2025-03-02 08:00:00 ~ 2025-03-02 10:00:00